<a href="https://colab.research.google.com/github/minhcong00/AI/blob/main/BTVN_s%E1%BB%91_2_olympicmeldals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [73]:
data.shape

(2311, 8)

In [74]:
data.describe()

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [75]:
data.groupby('Medal').count()

        Year  City  Sport  Discipline  NOC  Event  Event gender
Medal
Bronze   764   764    764         764  764    764           764
Gold     774   774    774         774  774    774           774
Silver   773   773    773         773  773    773           773

In [76]:
data=data.set_index(data['NOC'])
data.loc['USA']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
USA,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
USA,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
USA,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze
USA,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [77]:
data[(data['Year'] == 2006) & (data['NOC'] == 'USA')&(data['Medal']=='Gold')&(data['Event gender'] == 'M')].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,2006,Turin,Skating,Short Track S.,USA,500m,M,Gold
USA,2006,Turin,Skating,Speed skating,USA,1000m,M,Gold
USA,2006,Turin,Skating,Speed skating,USA,5000m,M,Gold
USA,2006,Turin,Skating,Speed skating,USA,500m,M,Gold
USA,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

In [78]:
# tổng số huy chương của mỹ từ năm 1924-2006
USA = data[(data['NOC']== 'USA')&(data['Medal'])]
print(' So huy chuong cua My tu nam 1924 den nam 2006 la:', USA['Medal'].count())

 So huy chuong cua My tu nam 1924 den nam 2006 la: 216

In [79]:
# SỐ Huy chương vàng bạc đồng của mỹ tư năm 1924-2006 của nam và nữ
USA = data[(data['NOC']== 'USA')&(data['Medal']=='Bronze')&(data['Year']>= 1924) & (data['Year']<=2006) & (data['Event gender']=='M')]
print(' So huy chuong dong cua My tu nam 1924 den nam 2006 cua nam la:', USA['Medal'].count())
USA = data[(data['NOC']== 'USA')&(data['Medal']=='Silver')&(data['Year']>= 1924) & (data['Year']<=2006) & (data['Event gender']=='M')]
print(' So huy chuong bac cua My tu nam 1924 den nam 2006 cua nam la:', USA['Medal'].count())
USA = data[(data['NOC']== 'USA')&(data['Medal']=='Gold')&(data['Year']>= 1924) & (data['Year']<=2006) & (data['Event gender']=='M')]
print(' So huy chuong vang cua My tu nam 1924 den nam 2006 cua nam la:', USA['Medal'].count())
USA = data[(data['NOC']== 'USA')&(data['Medal']=='Bronze')&(data['Year']>= 1924) & (data['Year']<=2006) & (data['Event gender']=='W')]
print(' So huy chuong dong cua My tu nam 1924 den nam 2006 cua nu la:', USA['Medal'].count())
USA = data[(data['NOC']== 'USA')&(data['Medal']=='Silver')&(data['Year']>= 1924) & (data['Year']<=2006) & (data['Event gender']=='W')]
print(' So huy chuong bac cua My tu nam 1924 den nam 2006 cua nu la:', USA['Medal'].count())
USA = data[(data['NOC']== 'USA')&(data['Medal']=='Gold')&(data['Year']>= 1924) & (data['Year']<=2006) & (data['Event gender']=='W')]
print(' So huy chuong vang cua My tu nam 1924 den nam 2006 cua nu la:', USA['Medal'].count())

 So huy chuong dong cua My tu nam 1924 den nam 2006 cua nam la: 29
 So huy chuong bac cua My tu nam 1924 den nam 2006 cua nam la: 40
 So huy chuong vang cua My tu nam 1924 den nam 2006 cua nam la: 45
 So huy chuong dong cua My tu nam 1924 den nam 2006 cua nu la: 24
 So huy chuong bac cua My tu nam 1924 den nam 2006 cua nu la: 34
 So huy chuong vang cua My tu nam 1924 den nam 2006 cua nu la: 33

In [80]:
data[(data['Year'] == 2002) & (data['NOC'] == 'CAN')&(data['Medal']=='Gold')&(data['Event gender'] == 'M')].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
CAN,2002,Salt Lake City,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,2002,Salt Lake City,Skating,Short Track S.,CAN,5000m relay,M,Gold
CAN,2002,Salt Lake City,Skating,Short Track S.,CAN,500m,M,Gold

In [81]:
# tổng số huy chương của Cannada từ năm 1924-2006
CAN = data[(data['NOC']== 'CAN')&(data['Medal'])]
print(' So huy chuong cua Canada tu nam 1924 den nam 2006 la:', USA['Medal'].count())

 So huy chuong cua Canada tu nam 1924 den nam 2006 la: 33

In [82]:
# SỐ Huy chương vàng bạc đồng của Canada tư năm 1924-2006 của nam và nữ
CAN = data[(data['NOC']== 'CAN')&(data['Medal']=='Bronze')&(data['Year']>= 1924) & (data['Year']<=2006) & (data['Event gender']=='M')]
print(' So huy chuong dong cua Canada tu nam 1924 den nam 2006 cua nam la:', CAN['Medal'].count())
CAN = data[(data['NOC']== 'CAN')&(data['Medal']=='Silver')&(data['Year']>= 1924) & (data['Year']<=2006) & (data['Event gender']=='M')]
print(' So huy chuong bac cua My tu nam 1924 den nam 2006 cua nam la:', CAN['Medal'].count())
CAN = data[(data['NOC']== 'CAN')&(data['Medal']=='Gold')&(data['Year']>= 1924) & (data['Year']<=2006) & (data['Event gender']=='M')]
print(' So huy chuong vang cua Canada tu nam 1924 den nam 2006 cua nam la:', CAN['Medal'].count())
CAN = data[(data['NOC']== 'CAN')&(data['Medal']=='Bronze')&(data['Year']>= 1924) & (data['Year']<=2006) & (data['Event gender']=='W')]
print(' So huy chuong dong cua Canada tu nam 1924 den nam 2006 cua nu la:', CAN['Medal'].count())
CAN = data[(data['NOC']== 'CAN')&(data['Medal']=='Silver')&(data['Year']>= 1924) & (data['Year']<=2006) & (data['Event gender']=='W')]
print(' So huy chuong bac cua Canada tu nam 1924 den nam 2006 cua nu la:', CAN['Medal'].count())
CAN = data[(data['NOC']== 'CAN')&(data['Medal']=='Gold')&(data['Year']>= 1924) & (data['Year']<=2006) & (data['Event gender']=='W')]
print(' So huy chuong vang cua Canada tu nam 1924 den nam 2006 cua nu la:', CAN['Medal'].count())

 So huy chuong dong cua Canada tu nam 1924 den nam 2006 cua nam la: 20
 So huy chuong bac cua My tu nam 1924 den nam 2006 cua nam la: 22
 So huy chuong vang cua Canada tu nam 1924 den nam 2006 cua nam la: 17
 So huy chuong dong cua Canada tu nam 1924 den nam 2006 cua nu la: 18
 So huy chuong bac cua Canada tu nam 1924 den nam 2006 cua nu la: 15
 So huy chuong vang cua Canada tu nam 1924 den nam 2006 cua nu la: 19